Package                   Version
------------------------- -----------
absl-py                   2.3.1
altair                    5.5.0
array_record              0.8.1
asttokens                 3.0.0
astunparse                1.6.3
attrs                     25.3.0
blinker                   1.9.0
cachetools                6.2.0
certifi                   2025.8.3
charset-normalizer        3.4.3
click                     8.2.1
comm                      0.2.3
contourpy                 1.3.2
cycler                    0.12.1
debugpy                   1.8.16
decorator                 5.2.1
dm-tree                   0.1.9
docstring_parser          0.17.0
einops                    0.8.1
et_xmlfile                2.0.0
etils                     1.13.0
exceptiongroup            1.3.0
executing                 2.2.1
flatbuffers               25.2.10
fonttools                 4.60.0
fsspec                    2025.9.0
gast                      0.6.0
gitdb                     4.0.12
GitPython                 3.1.45
google-pasta              0.2.0
grpcio                    1.74.0
h5py                      3.14.0
idna                      3.10
immutabledict             4.2.1
importlib_resources       6.5.2
ipykernel                 6.30.1
ipynb                     0.5.1
ipython                   8.37.0
jedi                      0.19.2
Jinja2                    3.1.6
joblib                    1.5.2
jsonschema                4.25.1
jsonschema-specifications 2025.9.1
jupyter_client            8.6.3
jupyter_core              5.8.1
kagglehub                 0.3.13
keras                     3.11.3
keras-core                0.1.7
kiwisolver                1.4.9
libclang                  18.1.1
llvmlite                  0.44.0
Markdown                  3.9
markdown-it-py            4.0.0
MarkupSafe                3.0.2
matplotlib                3.10.6
matplotlib-inline         0.1.7
mdurl                     0.1.2
ml_dtypes                 0.5.3
mpmath                    1.3.0
namex                     0.1.0
narwhals                  2.4.0
nest-asyncio              1.6.0
numba                     0.61.2
numpy                     2.2.6
nvidia-cublas-cu12        12.9.1.4
nvidia-cuda-cupti-cu12    12.9.79
nvidia-cuda-nvcc-cu12     12.9.86
nvidia-cuda-nvrtc-cu12    12.9.86
nvidia-cuda-runtime-cu12  12.9.79
nvidia-cudnn-cu12         9.13.0.50
nvidia-cufft-cu12         11.4.1.4
nvidia-curand-cu12        10.3.10.19
nvidia-cusolver-cu12      11.7.5.82
nvidia-cusparse-cu12      12.5.10.65
nvidia-nccl-cu12          2.28.3
nvidia-nvjitlink-cu12     12.9.86
opencv-python             4.12.0.88
openpyxl                  3.1.5
opt_einsum                3.4.0
optree                    0.17.0
packaging                 25.0
pandas                    2.3.2
parso                     0.8.5
pexpect                   4.9.0
pillow                    11.3.0
pip                       26.0.1
platformdirs              4.4.0
promise                   2.3
prompt_toolkit            3.0.52
protobuf                  6.32.1
psutil                    7.0.0
ptyprocess                0.7.0
pure_eval                 0.2.3
pyarrow                   21.0.0
pydeck                    0.9.1
Pygments                  2.19.2
pyparsing                 3.2.4
python-dateutil           2.9.0.post0
pytz                      2025.2
PyYAML                    6.0.3
pyzmq                     27.1.0
referencing               0.36.2
regex                     2025.9.18
requests                  2.32.5
rich                      14.1.0
rpds-py                   0.27.1
scikit-learn              1.7.2
scipy                     1.15.3
seaborn                   0.13.2
setuptools                59.6.0
simple-parsing            0.1.7
six                       1.17.0
smmap                     5.0.2
split-folders             0.5.1
stack-data                0.6.3
streamlit                 1.49.1
sympy                     1.14.0
tenacity                  9.1.2
tensorboard               2.20.0
tensorboard-data-server   0.7.2
tensorflow                2.20.0
tensorflow-datasets       4.9.9
tensorflow-metadata       1.17.2
termcolor                 3.1.0
threadpoolctl             3.6.0
toml                      0.10.2
tornado                   6.5.2
tqdm                      4.67.1
traitlets                 5.14.3
typing_extensions         4.15.0
tzdata                    2025.2
urllib3                   2.5.0
watchdog                  6.0.0
wcwidth                   0.2.13
Werkzeug                  3.1.3
wheel                     0.45.1
wrapt                     1.17.3
xgboost                   3.2.0
xlrd                      2.0.2
zipp                      3.23.0
